<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafe Soler | Acerca de</title>
    <link rel="icon" href="../img/logo.ico">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700" rel="stylesheet">
    <link href="estilos.css" rel="stylesheet">
    <link rel="stylesheet" href="css/estilosCSS.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <meta name="description" content="Cafe Soler es la cafeteria palermitana que poco a poco se está haciendo conocida entre las personas amante del bue cafe">
    <meta name="keywords"  content="Cafe, Restoran, Libros, Comidas, Pet Friendly, Contacto, Galeria, Fotos, Formulario, Horarios, Dias, Semanas, Fin de Semana, Pedidos, Reserva, Historia, Menu Digital, Menu Digital para Restaurantes, Menu Digital Qr, Cartas y Menus para Restaurantes">
</head>

<body>

    <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="../index.html">Cafe Soler</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
    
                        <ul class="navbar-nav">
    
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="./../index.html">Inicio</a>
                            </li>
    
                            <li class="nav-item">
                                <a class="nav-link active" href="./acerca-de.html">Acerca De</a>
                            </li>
    
                            <li class="nav-item">
                                <a class="nav-link" href="./galeria.html">Galeria</a>
                            </li>
    
                            <li class="nav-item">
                                <a class="nav-link" href="./menu.html">Menu</a>
                            </li>
    
                            <li class="nav-item">
                                <a class="nav-link" href="./contacto.html">Contacto</a>
                            </li>
    
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
    </header>

    <section class="main">
        <div class="w3-container" style="max-width:100%" id="about">
            <h1 class="w3-center w3-padding-64">
                <span class="w3-tag w3-wide" style="margin: 10px;">Acerca de Cafe Soler</span>
            </h1>
            <p style="margin:10px;" class="textos">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi reprehenderit facere rerum placeat accusamus repellendus doloribus aliquam culpa possimus unde corrupti ipsam, cupiditate tempore, magni aliquid consectetur facilis perspiciatis dolore!
            Enim aut, culpa dicta ducimus modi fugiat aliquam voluptatum id quia ipsum facilis quod delectus laboriosam deserunt! Doloribus eum eligendi nemo est, beatae rerum placeat pariatur aut ab adipisci praesentium?
            Iste, incidunt veritatis. Cupiditate veritatis fugiat ea suscipit! Blanditiis officiis impedit dolores, commodi iure consequuntur enim consectetur eaque molestiae accusantium, quaerat quasi assumenda perspiciatis quas. Laudantium aspernatur numquam error repellendus.
            Sed veritatis amet quisquam repellendus deleniti excepturi atque possimus dolor magni alias minus similique ex quas nemo illum nostrum nisi, qui rerum. Quae, fugiat repudiandae labore officia praesentium aut consectetur? </p>
            
            <img src="../img/acerca-de.jpg" style="max-width:100%; padding: 50px 250px;" class="w3-margin-10">
            
            <p style="margin:10px;" class="textos">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat in non laudantium vel praesentium sunt adipisci autem quod dolores facilis harum eius optio soluta dolorem, magnam at impedit eos voluptatibus.
            In, veritatis. Fuga nesciunt quaerat quam fugiat, rerum inventore ipsa voluptatibus molestias accusantium aliquam obcaecati sint, sapiente explicabo aliquid doloribus tempore nisi sed. Facere ad reiciendis quia dolore, voluptas eos!
            Excepturi nobis cupiditate, ipsam ea deserunt accusantium saepe ratione, ipsum dignissimos veniam perferendis facilis nemo labore totam esse! Veniam quas ea similique pariatur totam accusantium quasi est quod iusto provident.</p>
           
            <div class="w3-panel w3-leftbar w3-lightgrey">
                <p style="margin:10px;"><i>Lorem ipsum dolor sit amet</i></p>
            </div>

            <img src="../img/acerca-de.jpg" style="max-width:100%; padding: 50px 250px;" class="w3-margin-10">
        </div>
        
    </section>

    <footer>
        <div class="footer-copyright text-center py-3 bg-dark">
            <h6 class="text-white">© 2021 Copyright Benjamin Zamudio</h4>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous">
        </script>


</body>

</html>