<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafe Soler | Menu</title>
    <link rel="icon" href="../img/logo.ico">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="estilos.css">
    <link rel="stylesheet" href="css/estilosCSS.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
        <meta name="description" content="Menú Digital para Restaurantes con acceso mediante código QR, con la intención de ofrecer una opción sencilla y 
        moderna a los usuarios de los sectores de Restaurantes, Cafés, Bares y Hoteles; 
        para la consulta y visualización de menús y lista de precios deL establecimiento, 
        disminuyendo el contacto compartido con material físico y 
        así las posibilidades de contagio de enfermedades por transmisión por contacto.">
        <meta name="keywords" content="Cafe, Restoran, Libros, Comidas, Pet Friendly, Contacto, Galeria, Fotos, Formulario, Horarios, Dias, Semanas, Fin de Semana, Pedidos, Reserva, Historia, Menu Digital, Menu Digital para Restaurantes, Menu Digital Qr, Cartas y Menus para Restaurantes">
        
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="../index.html">Cafe Soler</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">

                    <ul class="navbar-nav">

                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="./../index.html">Inicio</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="./acerca-de.html">Acerca De</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="./galeria.html">Galeria</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" href="./menu.html">Menu</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="./contacto.html">Contacto</a>
                        </li>

                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section class="main">
        <section class="menu">
            <div class="contenedor">
                <h3 class="contenedor__titulo" id="carta">Menu Soler</h3>
                <div class="contenedorMenu menu--cambio">
                    <div class="contenedorMenu2 menu--cambio">
                        <article class="contenedorMenu2__menu">
                            <p class="contenedorMenu2__menu--categoria">Carta de comida</p>
                            <div class="platos">
                                <p class="platos__nombre">Lorem ipsum dolor sit amet</p>
                                <p class="platos__precio">$450</p>
                                <p class="platos__descripcion">Quas dolorum doloremque rerum voluptas.</p>
                            </div>

                            <div class="platos">
                                <p class="platos__nombre">Lorem ipsum dolor sit amet</p>
                                <p class="platos__precio">$650</p>
                                <p class="platos__descripcion">Quas dolorum doloremque rerum voluptas.</p>
                            </div>

                            <div class="platos">
                                <p class="platos__nombre">Lorem ipsum dolor sit amet</p>
                                <p class="platos__precio">$550</p>
                                <p class="platos__descripcion">Quas dolorum doloremque rerum voluptas.</p>
                            </div>

                            <div class="platos">
                                <p class="platos__nombre">Lorem ipsum dolor sit amet</p>
                                <p class="platos__precio">$750</p>
                                <p class="platos__descripcion">Quas dolorum doloremque rerum voluptas.</p>
                            </div>
                        </article>

                        <article class="contenedorMenu2__menu">
                            <p class="contenedorMenu2__menu--categoria">Carta de bebidas</p>
                            <div class="bebidas">
                                <p class="bebidas__nombre">Lorem ipsum dolor sit amet</p>
                                <p class="bebidas__precio">$200</p>
                                <p class="bebidas__descripcion">Quas dolorum doloremque rerum voluptas.</p>
                            </div>

                            <div class="bebidas">
                                <p class="bebidas__nombre">Lorem ipsum dolor sit amet</p>
                                <p class="bebidas__precio">$350</p>
                                <p class="bebidas__descripcion">Quas dolorum doloremque rerum voluptas.</p>
                            </div>

                            <div class="bebidas">
                                <p class="bebidas__nombre">Lorem ipsum dolor sit amet</p>
                                <p class="bebidas__precio">$450</p>
                                <p class="bebidas__descripcion">Quas dolorum doloremque rerum voluptas.</p>
                            </div>

                            <div class="bebidas">
                                <p class="bebidas__nombre">Lorem ipsum dolor sit amet</p>
                                <p class="bebidas__precio">$550</p>
                                <p class="bebidas__descripcion">Quas dolorum doloremque rerum voluptas.</p>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>

    </section>


    <footer>
        <div class="footer-copyright text-center py-3 bg-dark">
            <h6 class="text-white">© 2021 Copyright Benjamin Zamudio</h4>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous">
        </script>
</body>

</html>